@import url('../variables.css');

footer {
    margin-top: auto;
    background-color: var(--bg-footer-color);
}

.bar {
    background-color: var(--bg-bar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.bar .item {
    padding: 0 10px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}
.bar .item:hover {
    transform: scale(1.05);
}
.bar span {
    margin-left: 5px;
}
.bar .separator {
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .item {
    height: 200px;
    width: 300px;
    margin: 30px 40px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info #info p {
    margin-bottom: 30px;
}

.info #contact i {
    margin-right: 5px;
}

.info #contact #data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info .item #copyrights {
    font-size: 13px;
    margin-bottom: 30px;
}


@media (max-width: 770px) {
    .info {
        flex-direction: column;
    }
}
