@import url('../../variables.css');

.services {
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.services .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    margin: 30px 0;
}
.services .info h2 {
    font-size: 50px;
}
.services .info p {
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}
.services .info button {
    margin-top: 20px;
    font-size: 18px;
    background-color: var(--bg-footer-color);
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.services .info button:hover {
    background-color: var(--bg-bar-color);
    transform: scale(1.1);
    cursor: pointer;
}



.services .service-wrapper {
    padding-bottom: 30px;
    padding-inline: 10px;
    width: 100vw;
    max-width: 1200px;
}


.services .service-card {
    cursor: grab;
    width: full;
    height: 400px;
    background-color: var(--bg-footer-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;
    padding: 30px;
}

.services .service-card div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services .service-card div h3 {
    font-size: 30px;
}
.services .service-card div .small-opacity {
    font-size: 16px;
    opacity: 0.8;
}

.services .service-card div #price {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.services .service-card div #price span {
    font-size: 18px;
}

.services .service-card div #learn-more-btn {
    border: none;
    padding: 10px;
    background-color: var(--bg-down-color);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-size: 18px;
}

.services .service-card div #learn-more-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.services .service-card div ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.services .service-card div ul li {
    margin-left: 10px;
}

.services .service-card div ul li .tik {
    background-color: var(--bg-down-color);
    border-radius: 50%;
    color: var(--bg-up-color);
}
