@import url('../../variables.css');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

main .sentences {
    font-size: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main .sentences .typing-sentence {
    display: flex;
}

main .sentences span {
    color: black;
    font-weight: bold;
}

@media (max-width: 500px) {
    main .sentences {
        font-size: 15px;
        padding-top: 25%;
    }
    main {
        height: 40vh;
    }
}
@media (min-width: 501px) and (max-width: 700px) {
    main .sentences {
        font-size: 25px;
        padding-top: 25%;
    }
    main {
        height: 50vh;
    }
}
@media (min-width: 701px) and (max-width: 900px) {
    main .sentences {
        font-size: 30px;
        padding-top: 15%;
    }
}
@media (min-width: 901px) and (max-width: 1000px) {
    main .sentences {
        font-size: 40px;
    }
}
@media (min-width: 1001px) and (max-width: 1200px) {
    main .sentences {
        font-size: 40px;
    }
}