@import url('../../variables.css');

.faq {
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 200px;
}

.faq .wrapper {
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    display: inline-block;
}

.faq #title {
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
}

.faq .item {
    background-color: var(--bg-dark-purple-color);
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.faq .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.faq .content {
    font-size: 18px;
    opacity: 0.6;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.faq .content.show {
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}